*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#f5f8fc;
}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 8%;

background:#072b61;

color:white;

}

nav a{

color:white;

text-decoration:none;

margin-left:25px;

font-weight:500;

}

.hero{

height:90vh;

background:linear-gradient(rgba(0,35,90,.80),rgba(0,90,150,.75)),
url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3");

background-size:cover;

background-position:center;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

color:white;

}

.hero h1{

font-size:55px;

font-weight:700;

}

.hero h3{

font-size:30px;

margin:20px 0;

color:#FFD700;

}

.hero p{

font-size:20px;

margin-bottom:35px;

}

.btn{

background:#009688;

padding:15px 35px;

border-radius:40px;

text-decoration:none;

color:white;

margin-right:15px;

font-weight:bold;

}

.btn2{

background:white;

padding:15px 35px;

border-radius:40px;

text-decoration:none;

color:#072b61;

font-weight:bold;

}
